*{
    margin: 0px;
    padding: 0px;
}
.heading-tag1{
    padding: 20px;
}
.paragraph1{
    padding: 20px;
}
.first-div{
    height: 400px;
    width: 1265px;
    background-color: pink;
    display: flex;
    margin-right: 200px;
    justify-content: center;
    padding: 100px 0px 0px 150px;
    background-position: center;
    margin: auto;
   
}
.btn{
    padding:10px;
    margin-left: 20px;
    background-color: rgb(246, 79, 107);
    border: 0;
    color: white;
    border-radius: 5px;
}
.poddo{
    height: 400px;
    width: 250px;
    margin-right: 0px;
    padding-left: 10px;
    
}
.div-two{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}
.images{
    padding: 70px;
    display: flex;
    margin-right: 10px;
    gap: 10px;
    text-align: center;
    justify-content: center;
}
.flower6{
    padding: 60px;
    height: 200px;
    background-color: pink;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-bottom: 0px;
}
.flower5{
        padding: 60px;
        height: 200px;
        background-color: rgb(128, 222, 224);
        border-radius: 300px 300px 0px 0px;
        background: rgba(60, 201, 211, 0.15);
        margin-bottom: 0px;}
.flower7 {
            padding: 60px;
            height: 200px;
            background-color: rgb(155, 231, 174);
            border-radius: 300px 300px 0px 0px;
            background: rgba(52, 227, 105, 0.15);
            margin-bottom: 0px;}
    

.underline{
    padding-left: 60px;
    margin-top: 0px;
}
.middle{
    background-color: #2727270D;
    width: 800px;
    height: 80px;
    justify-content: center;
    background-position: center;
    padding: 80px;
    margin: auto;
    border-radius: 8px;
    display: flex;
    gap: 30px;
    text-align: center;

}
.middle2{
    background-color: plum;
    height: 300px;
    width: 1415px;
    background-position: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
}
.picture8{
    height: 280px;
    width: 200px;

}
.images2{
    text-align: center;
    
}
.content2{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.rectangle3{
    padding: 10px;
    height: 200px;
    width: 180px;
    margin-bottom: 0px;

}
.rectangle4{
    padding: 10px;
    height: 200px;
    width: 180px;
    margin-bottom: 0px;

}
.rectangle5{
    padding: 10px;
    height: 200px;
    width: 180px;
    margin-bottom: 0px;

}
.rectangle6{
    padding: 10px;
    height: 200px;
    width: 180px;
    margin-bottom: 0px;

}
.last-image{
    
   text-align: center;
   padding: 50px 50px 0px 50px;
   align-items: center;
   background-image: url("./Flower Asset/Rectangle 9.png");
   background-repeat: no-repeat;
   background-size: cover;
   margin-top: 10px;
   height: 250px;
   border-radius: 5px;
   background-position: center;
}